[submodule "KmmSampleAndroid"]
	path = KmmSampleAndroid
	url = https://github.com/ayinozendy/kmm_sample_android.git
[submodule "KmmSampleIos"]
	path = KmmSampleIos
	url = https://github.com/ayinozendy/km_sample_ios.git
